/*GLOBAL*******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* background-color: #f7f7f7; */
    background-image: url("../../img/medicos.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    /* width: min(90vw, 800px); */
    background-color: #fff;
    border-radius: 5px;
    max-width: 1320px;
    color: rgb(51, 51, 51);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    top: 50px;
    position: relative;
}

.div-table{
    margin: 30px;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

/*BOTAÕ DE VOLTAR HOME*******************************************************/

.btn-back{
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    background-color: rgb(9,26,85);
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
    max-width: 200px;
}

.btn-back:hover{
    background-color: rgb(14, 43, 141);
}

/*TITULOS*******************************************************/

h1{
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    margin: 30px;
    margin-top: 30px;    
    font-weight: 500;
    line-height: 1.2;
}

/*TABELA*******************************************************/

.table-fixed-layout {
    table-layout: fixed;
    width: 100%;
}


.table-fixed-layout thead th,
.table-fixed-layout tbody td {
    width: 20%; 
    text-align: center; 
}


.table-fixed-layout thead th:first-child,
.table-fixed-layout tbody td:first-child {
    width: 30%; 
}

table{
    max-width: 1200px;
}

table thead.header-table {
    text-align: center;
}

table tr{
    align-items: center;
    margin-bottom: 5px;
    opacity: 0.8;  
    
    transition: transform 0.3s, filter 0.3s;
}

table tr:hover{
    cursor: pointer;
    transform: scale(1.02); /* Aumenta o tamanho em 10% */
    filter: brightness(1.2); /* Torna a imagem 20% mais brilhante */
}

table tbody td{
    background: white;
    padding: 1rem 2rem ;
    font-weight: normal;
    color: rgb(34,34,34);
    
}

.header-table{
    text-align: center;
    justify-content: space-around;
    margin-bottom: 5px;
    
}

table thead tr th:first-child, table tbody tr td:first-child  {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, table tbody tr td:last-child  {
    border-radius: 0 0.25rem 0.25rem 0;
}

/*MODAL*******************************************************/

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-detalhes{
    background: #f7f7f7;
    padding: 2.4rem;
    max-width: 500px;
    width: 90%;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
}


.modal-overlay-delete{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    text-align: justify;
    z-index: 999;
}

.modal-overlay-delete.active{
    opacity: 1;
    visibility: visible;
}

.modal-delete{
    background: white;
    padding: 1rem 2.4rem 1rem 2.4rem;
    margin-bottom: 10px;
    max-width: 500px;
    width: 90%;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    text-align: justify;
}

#error{
    margin-right: 10px;
    align-content:space-around ;
    padding: 0.7rem;
    justify-content: flex-end;
    size: 2rem;
    color: var(--white);
    font-family: "Poppins", "sans-serif";
}

#modalDetalhesLabel{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

/*TITULOS DOS MODAIS******************************************************************/

dt{
    
    font-size: 15px;
    color: rgb(34,34,34);
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 6px;
}

dd{
    font-size: 13px;
    color: #808080;
}

h5{
   
    font-size: 15px;
}

.modal-delete-body p {
    font-size: 15px;
}

/*BOTÕES DO MODAL********************************************************************/


button{
    margin-top: 20px;
    display: inline-block;
    width: 40%; /* define a largura para cada botão */
    height: 40px;
    border: none;
    color: #fff;
    background: #808080;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 0.5rem;
    justify-content: space-between;
    margin-top: 10px;
    float: left;
    
}

button:hover{
    background-color: #989898;
}

/* .btn-voltar{
    border-radius: 0.5rem;
} */

/* .modal-overlay #delete{
    color: #fff;
    background-color: red;
    margin-left: 80px;
    border-radius: 0.5rem;
} */

/* .modal-overlay-delete #delete{
    color: #fff;
    background-color: red;
    margin-right: 80px;
    border: none;
} */

.btn-voltar{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    /* margin-bottom: 20px;
    margin-left: 250px; */
    background-color: #808080;
    color: rgb(34,34,34);
    text-align: center;
    align-items: center;
    justify-items: center;
    font-weight: bolder;
}

.btn-voltar:hover{
    color: #fff;
}

.btn-fechar {
    background-color: #808080;
    position: absolute;
    top: 10px;  /* Ajuste a distância do topo conforme necessário */
    right: 10px;  /* Ajuste a distância da direita conforme necessário */
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;  
    width: 25px;   
}

.modal-detalhes {
    position: relative;  
}

#delete{
    color: #fff;
    background-color: red;
    justify-content: end;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 80px;
}

#delete:hover{
    background-color: #ff6961;
}

.btn-editar{
    border-radius: 5px;
    margin-top: 15px;
}

#yes{
    color: #fff;
    background-color: green;
    border: none;
    margin-left: 80px;
}

#yes:hover{
    background-color: limegreen;
}

#no{

}

/*MODAL**********************************************/

/* Estilo para o container geral */
.modal-info-container {
    display: flex;
    justify-content: space-between; 
}

/* Estilo para a área de informações do paciente */
.medico-info {
    flex: 1; 
    margin-right: 20px; 
}

/* Estilo para a área de informações do endereço */
.endereco-info {
    flex: 1; 
}

/*scroll*******************************************************/
.endereco-info{
    height: 300px;
    overflow-y: scroll;
}

.endereco-info::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.endereco-info::-webkit-scrollbar-track {
  background: #e0e0e0;  
  border-radius: 5px;      /* color of the tracking area */
}

.endereco-info::-webkit-scrollbar-thumb {
  background-color: #989898;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e0e0e0;  /* creates padding around scroll thumb */
}